body {
  background: #473159;
}
input:focus{
  box-shadow:#473159;
}
::placeholder{
  color:rgb(189, 187, 187);
  font-size: small;
}
input[type=date] {

  color:rgb(189, 187, 187);
  font-size: small;
}
.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px;
  
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}
.dropbtn {
  width: 415px;
  height: 49px;
  
  color:#F9B17A;
  background: rgba(66, 71, 105, 0.5);
  border-radius: 4px;
  
 
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  left: 350px;
  top: 20px;
  position: relative;
  display: inline-block;
  z-index:2;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 425px;
  height: 49px;
  color:#F9B17A;

  border-radius: 4px;
  
 
  padding: 16px;

  border: none;
  cursor: pointer;


}

.dropdown-content a {
  color:#F9B17A;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:rgba(0,0,0,0.2);}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:rgba(0,0,0,0.2);
}
.grey{
  padding: 6px;
  width:110px;
  border:1px solid ;
  background-color: #a8a8a8;
  color: #03000a;
}
.grey:hover{
  border: 1px solid;
}
.orange-text {
  color: #F9B17A;
}
.black-text{
  color: rgb(32, 32, 32);
}
.orange-text{
color: #fa9950;
}
.bg-navy{
  background-color: #121929;
}
.bg-lightt{
  background-color: #303345;  ;
}
.bg-navylight{
  background: rgba(66, 71, 105, 0.5);
  ;
}
.navy-text{
  color: #121929;
}