{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
   
      <meta charset="UTF-8">
      <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
      <link
        rel="stylesheet"
        href="../contrast-bootstrap-pro/css/bootstrap.min.css" />
      <link
        rel="stylesheet"
        href="../contrast-bootstrap-pro/css/cdb.css" />
      <script
        src="../contrast-bootstrap-pro/js/cdb.js"></script>
      <script
        src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
        
  

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="./assets/img/favicon.png">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<title>
    Material Dashboard of Malabar
</title>

<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

<!-- Nucleo Icons -->
<link href="{% static '/css/nucleo-icons.css' %}" rel="stylesheet" />
<link href="{% static '/css/nucleo-svg.css' %}" rel="stylesheet" />

<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

<!-- CSS Files -->


<link href="{% static '/css/customerreviews.css' %}" rel="stylesheet" />
<link id="pagestyle" href="{% static '/css/material-dashboard.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static '/css/dropdownstyle.css' %}" />
<style>
 

</style>

  </head>


  <body class="g-sidenav-show " style="background-color: #121929;overflow:auto">
    

    

    
      <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " style="background-color:#473159 " id="sidenav-main " data-scroll="false">

  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
      <span class=" font-weight-normal display-5 text-white">Admin</span>
    </a>
  </div>


  <hr class="horizontal light mt-0 mb-2">

  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      

      
        

          

          
  
<li class="nav-item">
  <a class="nav-link text-white" href="{% url 'Dashboard' %}">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">dashboard</i>
      </div>
    
    <span class="nav-link-text ms-1">Dashboard</span>
  </a>
</li>

  
<li class="nav-item">
  <a class="nav-link text-white nav-link" href="{% url 'salesreport' %}">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">table_view</i>  </div>
        <span class="nav-link-text ms-1" >Sales Report</span>
    
      
  </a>
</li>
<li class="nav-item">
  <a class="nav-link text-white " href="{% url 'stockreport' %}">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
       
    
    <span class="nav-link-text ms-1 "> <i class="material-icons opacity-10">table_view</i>&nbsp;
    Stock Report</span>
  </div>
  </a>
</li>

  
<li class="nav-item">
  <a class="nav-link text-white " href="{% url 'employeedetails' %}">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">contacts</i>
      </div>
    
    <span class="nav-link-text ms-1">Employees</span>
  </a>
</li>

  
<li class="nav-item">
  <a class="nav-link text-white nav-link active" href="{% url 'customerreviews' %}">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
    <i class="material-icons opacity-10">reviews</i>
      </div>
    
    <span class="nav-link-text ms-1">Customer Reviews</span>
  </a>
</li>

  

<li class="nav-item">
  <a class="nav-link text-white " href="{% url 'addemployee' %}">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">group_add</i>
      </div>
    
    <span class="nav-link-text ms-1">Add Employee</span>
  </a>
</li>

  
  

<li class="nav-item">
  <a class="nav-link text-white " href="{% url 'index' %}">
    
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
        <i class="material-icons opacity-10">logout</i>
      </div>
    
       <span class="nav-link-text ms-1">Sign Out</span>
  </a>
</li>
</ul>
  
</aside>

      <main class="main-content border-radius-lg " style="background-color:#121929;">
        <!-- Navbar -->

 <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3 ">
    <nav aria-label="breadcrumb">
      
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Customer Review</li>
      </ol>
      <h6 class="font-weight-bolder mb-0 text-white ">Customer Review</h6>
      
    </nav>
   
</nav>




      </div>
      </div>
      </head>
          <body>
          
         
          
          <div class="dropdown">
            <button class="dropbtn fs-4 p-2">Malbar Hypermarket LLC, Dibba <i class="material-icons opacity-10 ps-2">keyboard_arrow_down</i></button>
            <div class="dropdown-content pt-1 fs-5">
            <a href="{% url 'customerreviews' %}">Malbar Hypermarket LLC, Masafi</a>
            <a href="{% url 'customerreviewsanayya' %}">Malbar Hypermarket LLC, Sanayya</a>
            </div>
          </div>
          <hr>
          <hr>
          <hr>
          <hr>
<div class="container m-2" style="overflow:auto;">
  <div class="row">
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">Designer | Architect</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container m-2">
  <div class="row">
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">Designer | Architect</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container m-2">
  <div class="row">
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">Designer | Architect</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container m-2">
  <div class="row">
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">Designer | Architect</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container m-2">
  <div class="row">
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Alex Smith</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/UUW3zLx.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Sophia T.</span> <span class="u-color">Designer | Architect</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/o5uMfKo.jpg" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card"> <i class="fa fa-quote-left u-color"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user-about"> <span class="font-weight-bold d-block">Mike Vincent</span> <span class="u-color">Designer | Developer</span>
                      <div class="d-flex flex-row mt-1"> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star u-color"></i> <i class="fa fa-star-o u-color"></i> </div>
                  </div>
                  <div class="user-image"> <img src="https://i.imgur.com/At1IG6H.png" class="rounded-circle" width="70"> </div>
              </div>
          </div>
      </div>
  </div>
</div>

<script>
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css
https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js
https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css
</script>
      </body>  
        
     
<!-- table -->
</html>