{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '/css/main.css'%}">
  <title>Document</title>
</head>

<body class="gradient-custom">
  <script src="../malabar/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <nav class="navbar navbar-expand-lg  bg-lightt">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarRightAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white px-3"  aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white px-3"  aria-current="page" href="{% url 'admin:index' %}">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white-50 px-2" href="{% url 'submit_review' %}">Customer Review</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-white-50 px-2" href="{% url 'qrgen' %}">Qr</a>
          </li>
          <!-- Navbar dropdown -->
          
          
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

  <section class="text-center">


    <div class="card-body py-5 px-md-5" style="margin-top:140px;">

      <div class=" row d-flex justify-content-center">

        <h2 class="fw-bold mb-4 orange-text">Sign in now</h2>
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->

      </div>

      <!-- Email input -->


      <!-- Password input -->


      <!-- Checkbox -->
      <div class="row justify-content-center white-text">
        <div class="col-sm-4 ">

          <div class="d-flex flex-column " >
            {% comment %} <a href="{% url 'Dashboard'  %}" class="black-text text-decoration-none">
              <button type="submit" class="button btn bg-first  fw-bold btn-block px-5 mb-3">
                Log in as Administrator</a>
            </button> {% endcomment %}
            <button type="submit" class="button btn bg-first btn-block px-5 mb-3">
              <a href="{% url 'login' %}" class="black-text text-decoration-none fw-bold">Log in as Manager</a>
            </button>
            <button type="submit" class="button btn bg-first btn-block px-5 fw-bold">
              <a href="{% url 'employeelogin' %}" class="black-text text-decoration-none"> Log in as Employee</a>
            </button>
          </div>
          <!-- Register buttons -->

          </button>
        </div>
        </form>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</body>

</html>